.tchmi-class-remove-disabled-greyout.tchmi-control-disabled.TcHmi_Controls_System_TcHmiControl-disabled::after {
    background-color: rgba(0, 0, 0, 0);
    /*gets rid of gray-out overlay on disabled control*/
}

.tchmi-class-red-glowing {
    animation: 0.5s infinite alternate ease-out breathing-red-border;
}

.tchmi-class-blue-glowing {
    background-color: black;
    animation: 0.5s infinite alternate ease-out breathing-blue-border;
}


.tchmi-class-slideyboi {
    transition: all 0.2s ease;
}

@keyframes breathing-red-border {
    from {
        border-radius: 3px;
        box-shadow: 0 0 1px 1px red;
        box-shadow: 0 0 2px 2px red;
        box-shadow: 0 0 3px 3px red;
    }

    to {
        border-radius: 5px;
        box-shadow: 0 0 0px 0px red;
    }
}

@keyframes breathing-blue-border {
    from {
        border-radius: 3px;
        box-shadow: 0 0 1px 1px blue;
        box-shadow: 0 0 2px 2px blue;
        box-shadow: 0 0 3px 3px blue;
    }

    to {
        border-radius: 5px;
        box-shadow: 0 0 0px 0px blue;
    }
}